Repository ahmedekramalsada/final-project-devops: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/01-infrastructure.yml, pipelines/02-tools.yml, pipelines/03-application.yml

Path conditions:
  pipelines/01-infrastructure.yml: any of: terraform/infrastructure
  pipelines/02-tools.yml: any of: terraform/tools
  pipelines/03-application.yml: any of: app

ert
  pipelines/01-infrastructure.yml
  pipelines/02-tools.yml
Due: none

sd
  terraform/infrastructure/cognito.tf
Due: pipelines/01-infrastructure.yml

dd
  terraform/infrastructure/cognito.tf
Due: pipelines/01-infrastructure.yml

aa
  devops-project-documentation.md
  pipelines/02-tools.yml
Due: none

h
  pipelines/02-tools.yml
Due: none

jkn
  pipelines/02-tools.yml
Due: none

kjbh
  pipelines/02-tools.yml
Due: none

ss
  pipelines/02-tools.yml
Due: none

h
  .DS_Store
  .gitignore
  pipelines/01-infrastructure.yml
  pipelines/02-tools.yml
  pipelines/99-destroy.yml
  scripts/cleanup.sh
  terraform/.DS_Store
Due: none

hb
  terraform/.DS_Store
  terraform/tools/helm-releases.tf
  terraform/tools/k8s-resources.tf
Due: pipelines/02-tools.yml

hh
  pipelines/02-tools.yml
  terraform/.DS_Store
  terraform/tools/aws-lb-controller.tf
  terraform/tools/helm-releases.tf
  terraform/tools/k8s-resources.tf
Due: pipelines/02-tools.yml

fix error
  pipelines/02-tools.yml
  terraform/.DS_Store
  terraform/tools/aws-lb-controller.tf
  terraform/tools/helm-releases.tf
  terraform/tools/variables.tf
Due: pipelines/02-tools.yml

fix the iamrole
  pipelines/02-tools.yml
  terraform/.DS_Store
  terraform/tools/aws-lb-controller.tf
  terraform/tools/variables.tf
Due: pipelines/02-tools.yml

fix
  pipelines/02-tools.yml
Due: none

y
  pipelines/02-tools.yml
Due: none

fix name
  pipelines/02-tools.yml
  terraform/.DS_Store
  terraform/tools/aws-lb-controller.tf
Due: pipelines/02-tools.yml

hhh
  terraform/.DS_Store
  terraform/tools/aws-lb-controller.tf
  terraform/tools/helm-releases.tf
  terraform/tools/k8s-resources.tf
Due: pipelines/02-tools.yml

hh
  devops-project-documentation.md
  docs/IRSA-TRROUBLESHOOTING.md
  pipelines/01-infrastructure.yml
  pipelines/02-tools.yml
  terraform/.DS_Store
  terraform/infrastructure/eks.tf
  terraform/infrastructure/outputs.tf
  terraform/tools/aws-lb-controller.tf
  terraform/tools/helm-releases.tf
  terraform/tools/k8s-resources.tf
  terraform/tools/providers.tf
  terraform/tools/versions.tf
Due: pipelines/01-infrastructure.yml, pipelines/02-tools.yml

fix
  docs/AZURE-DEVOPS-SETUP.md
  pipelines/02-tools.yml
  terraform/.DS_Store
Due: none

fix
  pipelines/02-tools.yml
  terraform/.DS_Store
  terraform/tools/aws-lb-controller.tf
Due: pipelines/02-tools.yml

dd
  terraform/.DS_Store
Due: none

j
  pipelines/02-tools.yml
Due: none

Add README.md via Batabeto
  README.md
Due: none
